body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  background: #fff;
  color: #333;
}

.heading {
  font-size: 35px;
  margin: 0px 0px 10px;
}
.subheading {
  font-size: 18px;
  color: rgb(102, 98, 98);
  margin: 0px 0px 30px;
}

.pricing-section {
  padding: 40px 20px;
  text-align: center;
}

.pricing-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}

.card {
  border: 3px solid #32C5D2;
    margin: 70px 0px 0px;
  padding: 10px 20px 8px;
  width: 300px;
  background: #fff;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.recommended {
  border-color: #32C5D2;
  margin: 20px 0px 0px;
  padding: 10px 20px 8px;
}

.premium {
  background: #32C5D2;
  color: #fff;
  border-color: transparent;
}

.badge {
  font-size: 12px;
  background: #32C5D2;
  color: black;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 30px;
  font-weight: bold;
}

.badge.green {
  background: #32C5D2;
  margin-top: 70px;
}

.badge.dark {
  background: white;
}

.original-price {
  font-size: 35px;
  font-weight: bold;
  color: #222;
}

.discount {
  font-size: 20px;
  color: red;
  font-weight: bold;
  margin-bottom: 2px;
}

.final-price {
  font-size: 36px;
  font-weight: bold;
  background: #32C5D2;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 6px;
  color: #fff;
  margin-bottom: 20px;
}

.premium .final-price {
  background: #fff;
  color: #32C5D2;
}

.features {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-bottom: 20px;
  font-size: 14px;
}

.features li {
  margin: 10px 0;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #000;
  text-decoration: none;
  color: #000;
  background: transparent;
  border-radius: 4px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background: #000;
  color: #fff;
}

.premium .btn {
  background: #fff;
  color: #06b6d4;
  border: none;
}

.premium .btn:hover {
  background: #32C5D2;
  color: #fff;
}


